<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Gator Placer</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Leaflet Link to access api-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/listingFactory.js"></script>
  <script src="js/controllers/listingController.js"></script>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
</head>

<body ng-app="directoryApp" ng-controller="ListingsController" style="background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('/images/campus.png');">
  <div id="titleWrapper">
    <h1 id="title"> Gator Placer <img class="logo" src="/images/gator.png"></img></h1>
    <button type="button" class="btn btn-default" id="signOut" ng-click=signOut()>Sign Out</button>
  </div>

  <div class="row" id="wrapper">
    <!--wraps search bar, accordion, and map-->
    <div class="col-md-6">
      <!--search bar and accordion on the left-->
      <div class="input-group" id="accordion_search">
        <!--search bar-->
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
      </div>
      <!--end of search bar-->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!--accordion menu-->
        <div class="panel panel-default" ng-repeat="listing in listings | orderBy: 'name'" ng-show="searchText == null || listing.name.toLowerCase().includes(searchText.toLowerCase());">
          <div ng-click="selectProf(listing)" class="panel-heading" id="panelHeading" data-toggle="collapse"
            data-parent="#accordion" href=#{{listing._id}}>
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href=#{{listing._id}}>
                <!--needs a unique identifier without spaces(name is not good enough)-->
                {{listing.name}}<span> <a href="" class="glyphicon glyphicon-edit" ng-show=canEdit(listing)></a></span>
                <div style="float: right">{{listing.role}}</div>
              </a>
            </h4>
          </div>
          <div id={{listing._id}} class="panel-collapse collapse panel-body">
            <div>
              <h3>About Me</h3>
              <a href="mailto:{{listing.email}}">{{listing.email}}</p>
                <div ng-show="listing.linkedin || listing.twitter || listing.slack">
                  <a href={{listing.linkedin}} target="_blank" class="fa fa-linkedin" ng-show="listing.linkedin"></a>
                  <a href={{listing.twitter}} target="_blank" class="fa fa-twitter" ng-show="listing.twitter"></a>
                  <a href={{listing.slack}} target="_blank" class="fa fa-slack" ng-show="listing.slack"></a>
                </div>
                <div ng-show=listing.information>
                  <br>
                  <p>{{listing.information}}</p>
                </div>

                <div ng-show="isUser && !listing.information">
                  <br><br>
                  <button href="" class="btn btn-default btn-sm" ng-click="editInfo = !editInfo">Add Info</button>
                </div>
                <hr>

                <div ng-show="editInfo && isUser">
                  <form novalidate class="simple-form">
                    <br>
                    <input type="text" class="form-control" ng-model="newListing.information" />
                    <button class="btn btn-default" ng-click="updateListing(listing)">Submit</button>
                  </form>
                </div>
                <div ng-show="listing.classes.length > 0">
                  <h3>Classes and Courses</h3>
                  <ul class="list-group">
                      <div ng-repeat="class in listing.classes">
                          <div ng-repeat="course in classes" ng-show="class == course._id">
                              <li class = "list-group-item">
                                  <div class="alert alert-info" role="alert">{{course.classType}}</div>
                                <h5>{{course.code}} {{course.name}}</h5>
                                <div ng-repeat="building in buildings" ng-show = "course.location == building._id">
                                    <h5>{{building.code}} {{course.room}}</h5>
                                  </div>
                                <div>
                                  <ul class = "list-group">
                                    <div ng-repeat="time in course.time">
                                      <li class ="list-group-item">
                                        {{time}}
                                      </li>
                                    </div>
                                  </ul>
                                </div>
                              </li>
                          </div>
                        </div>
                  </ul>
                  <!-- <div ng-repeat = "class in listing.classes">
                        <div ng-repeat = "course in classes" ng-show = "class == course._id">
                          {{course.code}} {{course.name}} {{course.time}} {{course.classType}}
                        </div>
                      </div> -->
                </div>
                <div ng-show="isUser">
                  <!--add course button-->
                  <br>
                  <button href="" class="btn btn-default btn-sm" ng-click="addCourseForm = !addCourseForm">Add Course</button>
                </div>

                <div ng-show="isUser && addCourseForm">
                  <!--add course form-->
                  <br>
                  <form>
                    <div class="form-row align-items-center">
                      <div class="form-group col-md-6">
                        <label>Course Code</label>
                        <input type="text" class="form-control text-uppercase" id="inputCourseCode" placeholder="EX: COP3530"
                          ng-model="courseCode" ng-pattern="courseCodeRegex" ng-change="getCourseNameFromCode(courseCode)">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Course Name</label>
                        <input type="text" class="form-control" id="inputCourseName" placeholder="Course" readonly
                          ng-model="courseName">
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-group col-md-8">
                        <label for="typeSelect">Select a Type</label>
                        <select class="form-control" id="" ng-model="classType">
                          <option>Lecture</option>
                          <option>Office Hour</option>
                          <option>Discussion</option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Location</label>
                        <input type="text" class="form-control text-uppercase" id="inputCourseName" placeholder="EX: TUR"
                          ng-model="location">
                      </div>
                      <div class="form-group col-md-12">
                        <label>Room</label>
                        <input type="text" class="form-control text-uppercase" id="inputCourseRoom" placeholder="Room Number" ng-model="courseRoom">
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-check-input col-md-4" id="mondayChecker">
                        <input class="form-check-input" type="checkbox" ng-model="mondayCheck">
                        <label class="form-check-label" for="mondayCheck">
                          Monday
                        </label>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Start Time</label>
                        <select class="form-control" ng-model="mondayStartTime" ng-options="startTime.time for startTime in startTimes">
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label>End Time</label>
                        <select class="form-control" ng-model="mondayEndTime" ng-options="endTime.time for endTime in endTimes">
                        </select>
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-check-input col-md-4" id="tuesdayChecker">
                        <input class="form-check-input" type="checkbox" ng-model="tuesdayCheck">
                        <label class="form-check-label" for="mondayCheck">
                          Tuesday
                        </label>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Start Time</label>
                        <select class="form-control" ng-model="tuesdayStartTime" ng-options="startTime.time for startTime in startTimes">
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label>End Time</label>
                        <select class="form-control" ng-model="tuesdayEndTime" ng-options="endTime.time for endTime in endTimes">
                        </select>
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-check-input col-md-4" id="wednesdayChecker">
                        <input class="form-check-input" type="checkbox" ng-model="wednesdayCheck">
                        <label class="form-check-label" for="">
                          Wednesday
                        </label>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Start Time</label>
                        <select class="form-control" nng-model="wednesdayStartTime" ng-options="startTime.time for startTime in startTimes">
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label>End Time</label>
                        <select class="form-control" ng-model="wednesdayEndTime" ng-options="endTime.time for endTime in endTimes">
                        </select>
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-check-input col-md-4" id="thursdayChecker">
                        <input class="form-check-input" type="checkbox" ng-model="thursdayCheck">
                        <label class="form-check-label" for="">
                          Thursday
                        </label>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Start Time</label>
                        <select class="form-control" ng-model="thursdayStartTime" ng-options="startTime.time for startTime in startTimes">
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label>End Time</label>
                        <select class="form-control" ng-model="thursdayEndTime" ng-options="endTime.time for endTime in endTimes">
                        </select>
                      </div>
                    </div>
                    <div class="form-row align-items-center">
                      <div class="form-check-input col-md-4" id="fridayChecker">
                        <input class="form-check-input" type="checkbox" ng-model="fridayCheck">
                        <label class="form-check-label" for="mondayCheck">
                          Friday
                        </label>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Start Time</label>
                        <select class="form-control" ng-model="fridayStartTime" ng-options="startTime.time for startTime in startTimes">
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label>End Time</label>
                        <select class="form-control" ng-model="fridayEndTime" ng-options="endTime.time for endTime in endTimes">
                        </select>
                      </div>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="addCourse(courseCode,courseName,location,classType,mondayCheck,mondayStartTime,mondayEndTime,tuesdayCheck,tuesdayStartTime,tuesdayEndTime,wednesdayCheck,wednesdayStartTime,wednesdayEndTime,thursdayCheck,thursdayStartTime,thursdayEndTime,fridayCheck, fridayStartTime,fridayEndTime,listing,courseRoom)">Submit
                      Course</button>
                  </form>
                </div>
                <div ng-show="isUser">
                  <br>
                  <button href="" class="btn btn-default btn-sm" ng-click="editSocial = !editSocial">Edit Social Media
                  </button>
                </div>
                <div ng-show="editSocial && isUser">
                  <br>
                  <form novalidate class="simple-form">
                    Twitter <input type="text" placeholder={{listing.twitter}} class="form-control" ng-model="newListing.twitter" />
                    Slack <input type="text" placeholder={{listing.slack}} class="form-control" ng-model="newListing.slack" />
                    LinkedIn <input type="text" placeholder={{listing.linkedin}} class="form-control" ng-model="newListing.linkedin" /><br>
                    <button class="btn btn-default" ng-click="updateListing(listing)">Submit</button>
                  </form>
                </div>
            </div>
            <!--panel body-->
          </div>
          <!--panel collapse-->
        </div>
        <!--panel default-->
      </div>
      <!--panel group-->
    </div>
    <!--col md left-->
    <div class="col-md-6">
      <!-- Make sure you put this AFTER Leaflet's CSS -->
      <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
      <div id="mapid"></div>
      <script type="text/javascript">
        var mymap = L.map('mapid').setView([29.648, -82.3440], 13);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);
      </script>
      <!--end of accordion menu-->
    </div>
    <!--end of wrapper of search bar and accordion-->
  </div>
  <!--row-->
</body>

</html>