<!--src is the same as client from bootcamp-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gator Placer</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Leaflet Link to access api-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>

</head>


<body ng-app="directoryApp">
  <div id ="titleWrapper">
    <h1 style="text-align:center" id = "title">
      Gator Placer
    </h1>
</div>
<button type="button" class="btn btn-success">Edit</button>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/signup" method="post">
          <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
          </div>
          <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" name="firstname">
          </div>
          <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" name="lastname">
          </div>

          <button type="submit" class="btn btn-warning btn-lg">Signup</button>
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id = wrapper> <!--wraps search bar and accordion-->
<div class="input-group" id="accordion_search"><!--search bar-->
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="Only dummy data is on Keesling and Small" [(ngModel)]="searchText">
</div><!--end of search bar-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!--accordion menu-->
  <ng-container *ngFor = "let professor of professors">
  <div class="panel panel-default" showSearch = professor.name.toLowerCase().includes(searchText.toLowerCase()) *ngIf= "professor.name.toLowerCase().includes(searchText.toLowerCase()) && searchText" >
      <div class="panel-heading" id = "panelHeading" >
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href= #{{professor.name}}> <!--needs a unique identifier without spaces(name is not good enough)-->
          {{professor.name}}</a>
        </h4>
      </div>
      <div id = {{professor.name}} class="panel-collapse collapse">
        <div class="panel-body">
            <input [(ngModel)]="search" placeholder="testing filter w/ courses"><br>
          Courses
          <ul *ngFor = "let course of professor.courses | filter: search" >
            <li>{{course}}</li>
          </ul>
          Office Hours
          <ul *ngFor = "let officeHour of professor.officeHours">
            <li>{{officeHour}}</li>
          </ul>
          Future Courses
          <ul *ngFor = "let futureCourse of professor.futureCourses"><!--ng repeat line should be here I think -->
            <li>{{futureCourse}}</li>
          </ul>
          Research Areas
          <ul *ngFor = "let research of professor.research"><!--ng repeat line should be here I think -->
            <li>{{research}}</li>
          </ul>
          Rate My Professor: (rateMyProfessorScore)<br><br>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-slack"></a>
        </div>
      </div>

    </div>
    </ng-container>


  </div>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<div id="mapid"></div>

  <script type="text/javascript">
    var mymap = L.map('mapid').setView([29.648, -82.3440], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        L.marker([29.648, -82.3440]).addTo(mymap)
    .bindPopup('Professor Keesling. Marston')
    .openPopup();

  </script>
  <!--end of accordion menu-->
</div><!--end of wrapper-->
