<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gator Placer</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Leaflet Link to access api-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
      integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
      crossorigin=""></script>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
  </head>
  <body ng-app = "directoryApp" ng-controller ="ListingsController">
      <div id ="titleWrapper">
        <h1 id = "title">Gator Placer</h1>
        <button type="button" class="btn btn-primary" id = "signOut" ng-click = signOut() >Sign Out</button>
      </div>

      <img src="./images/ufcampus.jpg" style="width:100%;height:400px;">

      <div class = "row" id = "wrapper"><!--wraps search bar, accordion, and map-->
        <div class = "col-md-6"> <!--search bar and accordion on the left-->
          <div class="input-group" id="accordion_search"><!--search bar-->
              <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
              <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
          </div><!--end of search bar-->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!--accordion menu-->
            <div class="panel panel-default" ng-repeat = "listing in listings | orderBy: 'name'" ng-show= "(searchText == null || listing.name.toLowerCase().includes(searchText.toLowerCase())) && listing.createdBy == user.username;">
                <div class="panel-heading" id = "panelHeading" data-toggle="collapse" data-parent="#accordion" href= #{{listing._id}} >
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href= #{{listing._id}}> <!--needs a unique identifier without spaces(name is not good enough)-->
                    {{listing.name}} <span> <a href = "" class="glyphicon glyphicon-edit" ng-show = canEdit(listing)></a></span><div style = "float: right">{{listing.role}}</div></a>
                  </h4>
                </div><!--panel-heading-->
                <div id = {{listing._id}} class="panel-collapse collapse"><!--panel collapse-->
                  <div class="panel-body"><!--panel body-->
                    <div>Email: {{listing.email}}</div>
                    <div ng-show = "isUser && !listing.information"><!--Add Info Button-->
                      <br><br>
                      <button href = ""  class="btn btn-primary btn-sm" ng-click = "editInfo = !editInfo">Add Info</button>
                      <br><br>
                    </div>
                    <div ng-show = listing.information><!--displays listing info and edit info icon-->
                      <br><br>
                      Information: {{listing.information}}
                      <a href = "" ng-show = "isUser && listing.information" ng-click = "editInfo = !editInfo" class="glyphicon glyphicon-edit"></a>
                    </div>
                    <div ng-show = "editInfo && isUser"><!--info form-->
                      <form novalidate class="simple-form">
                          <br>
                          <input type="text" class="form-control" ng-model="newListing.information"/>
                          <button class="btn btn-primary" ng-click="updateListing(listing)">Submit</button>
                      </form>
                    </div>
                    <div ng-show = "listing.classes.length > 0 ">
                      <br>
                      Courses Taught
                      <div ng-repeat = "class in listing.classes">
                        <div ng-repeat = "course in classes" ng-show = "class == course._id">
                        {{course.code}} {{course.name}}
                        </div>
                      </div>
                  </div>
                    <div ng-show = "isUser"><!--add course button-->
                        <br>
                        <button href= "" class="btn btn-primary btn-sm" ng-click = "addCourseForm = !addCourseForm">Add Course</button>
                    </div>


                    <div ng-show = "isUser && addCourseForm"><!--add course form-->
                      <br>
                        <form class="form-inline">
                          <input type="text" class="form-control" placeholder="Course Code"ng-model = "courseCode">
                          <input type="text" class="form-control" placeholder="Days"ng-model = "days">
                          <input type="text" class="form-control" placeholder="Location"ng-model = "location">
                          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">From</label>
                          <select class="form-control" ng-model = "startTime"> <!--time options-->
                            <option>1: 7:25AM</option>
                            <option>2: 8:30AM</option>
                            <option>3: 9:35AM</option>
                            <option>4: 10:40AM</option>
                            <option>5: 11:45AM</option>
                            <option>6: 12:50PM</option>
                            <option>7: 1:55PM</option>
                            <option>8: 3:00PM</option>
                            <option>9: 4:05PM</option>
                            <option>10: 5:10PM</option>
                            <option>11: 6:15PM</option>
                            <option>E1: 7:20PM</option>
                            <option>E2: 8:20PM</option>
                            <option>E3: 9:20PM</option>
                          </select>
                          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">To</label>
                          <select class="form-control" ng-model = "endTime"><!--time options-->
                            <option>1: 8:15AM</option>
                            <option>2: 9:20AM</option>
                            <option>3: 10:25AM</option>
                            <option>4: 11:30AM</option>
                            <option>5: 12:35AM</option>
                            <option>6: 1:40PM</option>
                            <option>7: 2:45PM</option>
                            <option>8: 3:50PM</option>
                            <option>9: 4:55PM</option>
                            <option>10: 6:00PM</option>
                            <option>11: 7:05PM</option>
                            <option>E1: 8:10PM</option>
                            <option>E2: 9:10PM</option>
                            <option>E3: 10:10PM</option>
                          </select>
                          <button type="button" class="btn btn-primary" ng-click = "addCourse(courseCode, days, startTime,endTime, location,listing)" >Submit Course</button>
                        </form>
                      </div>



                    <div ng-show = "listing.linkedin || listing.twitter || listing.slack"> <!--displays social media-->
                      <br><br>
                      <a href={{listing.linkedin}} target ="_blank" class="fa fa-linkedin" ng-show="listing.linkedin"></a>
                      <a href={{listing.twitter}} target ="_blank" class="fa fa-twitter" ng-show="listing.twitter"></a>
                      <a href={{listing.slack}} target ="_blank" class="fa fa-slack" ng-show="listing.slack"></a>
                    </div>
                    <div ng-show = "isUser"><!--edit social media button-->
                      <br>
                      <button href= "" class="btn btn-primary btn-sm" ng-click = "editSocial = !editSocial">Edit Social Media </button>
                    </div>
                    <div ng-show = "editSocial && isUser"><!--social media form-->
                      <br>
                      <form novalidate class="simple-form">
                        Twitter <input type="text"  placeholder = {{listing.twitter}} class="form-control" ng-model="newListing.twitter"/>
                        Slack <input type="text" placeholder = {{listing.slack}} class="form-control" ng-model="newListing.slack"/>
                        LinkedIn <input type="text"  placeholder = {{listing.linkedin}} class="form-control" ng-model="newListing.linkedin"/><br>
                        <button class="btn btn-primary" ng-click="updateListing(listing)">Submit</button>
                      </form>
                    </div>
                  </div><!--panel body-->
                </div><!--panel collapse-->
            </div><!--panel default-->
          </div><!--panel group-->
          <div id="addTaForm"><!--add ta button and form-->
            <button class="btn btn-primary" ng-click = "TaForm = !TaForm">Add a TA</button><br>
            <div ng-show= "TaForm"><!--add ta form-->
              <br>
              <input type="text" class="form-control" placeholder="TA Email" ng-model = "ta_Email">
              <input type="text" class="form-control" placeholder="course" ng-model = "course"><br>
              <button type="button" class="btn btn-primary" ng-click = addTA(ta_Email,course) >Submit TA</button><br>
            </div>
          </div>
        </div><!--col md left-->
        <div class = "col-md-6">
          <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <div id="mapid"></div>
        <div id="mapInput">
          <input type="text" id = "mapInput1" class="form-control" placeholder="Building Code" ng-model = "buildingName">
          <!-- 29.6499  -82.3486 -->
          <input type="text" id = "mapInput2" class="form-control" placeholder="Description" ng-model = "description">
          <button type="button" class="btn btn-primary" ng-click = addMarker(buildingName,description) >Add Marker</button>
        </div>
          <script type="text/javascript">
            var mymap = L.map('mapid').setView([29.648, -82.3440], 13);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(mymap);
                L.marker([29.648, -82.3440]).addTo(mymap)
            .bindPopup('Professor Keesling. Marston')
            .openPopup();
          </script>



        </div><!--col md 6 right side-->
    </div><!--row-->



  <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/signup" method="post">
              <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" name="username">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" name="firstname">
              </div>
              <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" name="lastname">
              </div>
              <button type="submit" class="btn btn-warning btn-lg">Signup</button>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
