/* You can add global styles to this file, and also import other style files */
#mapid {
  height: 600px;
  margin: 20px;
}
#mapInput1, #mapInput2{
  margin-bottom: 20px;
}

#mapInput{
  margin-left: 20px;
  margin-right: 20px;
}

#accordion_search {
    margin-right: 25px;
    margin-left: 50px;
    margin-bottom:25px;
    padding-top:40px;
}

#addTaForm{
  margin-left: 50px;
  margin-bottom:10px;
  margin-right: 25px;
}
#signOut{
  position: absolute;
  right: 0px;
  margin: 5px;
}

  #accordion{
    margin-left:50px;
    margin-right: 25px;
    max-height: 600px;
    overflow: auto;
  }

  #timeContainer{
    max-height: 50px;
    overflow: auto;
  }


  #panelHeading{
    background-color: hsl(209, 100%, 30%);
  }
  .panel-heading{
    background-color: white;
  }

  #title{
    font-family: 'palatino', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
    color: white;
    float: left;
  }

  body{
    background:#f2f2f2;;
  }

  #titleWrapper{
    width:100%;
    background-color: hsl(209, 100%, 30%);
    float:left;
    margin-top: 0px;
  }

  #formWrapper{
    width:100%;
    background-color: hsl(209, 100%, 30%);
    margin-top: 0px;
  }

  .panel-title{
    color: white;
  }
  .fa{
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    }
  .fa:hover {
    opacity: 0.7;
  }

  .needs-validation{
    margin-left: 15%;
    margin-top: 5%;
  }

  body{
    font-family: 'Ubuntu';
   }

    #formTitle{
    font-family: 'palatino', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
    color: white;
  }

#editBtn{
  margin-top: 0px;
  float: right;
}
























