<!doctype html>

<html>

<head>
    <title>GatorPlacer Sign-In</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>

<body style = "background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('/images/campus.png');">

    <div class="signUpContainer">
    <div class="col-sm-6 col-sm-offset-3" id = "signUpContainer">
        <h2 style = "text-align: center;"> Sign up for GatorPlacer</h2>
    <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
    <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>UF Email</label>
                <input type="email" class="form-control" name="username">
            </div>
            
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstname">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastname">
            </div>
            <div class="form-group">
                <label for="role">Select a role</label>
                <select class="form-control" id="role" name = "role">
                    <option>Student</option>
                    <option>Professor</option>
                </select>
            </div>

            <button type="submit" style = "margin-left: 40%;" class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>

    </div>
    </div>

</body>

</html>





