<body> <!--ng-app here-->
  <div id ="titleWrapper">
    <h1 style="text-align:center" id = "title">
      Gator Placer
    </h1>
</div>
<!--<app-root></app-root> on line 94 now-->
<div id = wrapper> <!--wraps map, search bar, and accordion-->
<div class="input-group" id="accordion_search"><!--search bar-->
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="Search" ng-model="query">
</div><!--end of search bar-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!--accordion menu-->
    <div class="panel panel-default" ng-repeat="filter: query"> <!--ng repeat line should be here I think -->
      <div class="panel-heading" id = "panelHeading" >
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          Professor 1</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          Courses
          <ul><!--ng repeat line should be here I think -->
            <li>(course)</li>
          </ul>
          Office Hours
          <ul><!--ng repeat line should be here I think -->
            <li>(officeHour)</li>
          </ul>
          Future Courses
          <ul><!--ng repeat line should be here I think -->
            <li>(futureCourse)</li>
          </ul>
          Research Areas
          <ul><!--ng repeat line should be here I think -->
            <li>(researchArea)</li>
          </ul>
          Rate My Professor: (rateMyProfessorScore)<br><br>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-slack"></a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" id ="panelHeading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Professor 2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" id = "panelHeading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Professor 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</div>
      </div>
    </div>
  </div>
  <!--end of accordion menu-->
</div><!--end of wrapper-->
