<body>
  <div id ="titleWrapper">
    <h1 style="text-align:center" id = "title">
      Gator Placer
    </h1>
</div>

<div id = wrapper> <!--wraps search bar and accordion-->
<div class="input-group" id="accordion_search"><!--search bar-->
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="Only dummy data is on Keesling and Small" [(ngModel)]="searchText">
</div><!--end of search bar-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!--accordion menu-->
  <ng-container *ngFor = "let professor of professors">
  <div class="panel panel-default" showSearch = professor.name.toLowerCase().includes(searchText) *ngIf= "professor.name.toLowerCase().includes(searchText) && searchText" >
      <div class="panel-heading" id = "panelHeading" >
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href= #{{professor.name}}> <!--needs a unique identifier without spaces(name is not good enough)-->
          {{professor.name}}</a>
        </h4>
      </div>
      <div id = {{professor.name}} class="panel-collapse collapse">
        <div class="panel-body">
            <input [(ngModel)]="search" placeholder="testing filter w/ courses"><br>
          Courses
          <ul *ngFor = "let course of professor.courses | filter: search" >
            <li>{{course}}</li>
          </ul>
          Office Hours
          <ul *ngFor = "let officeHour of professor.officeHours">
            <li>{{officeHour}}</li>
          </ul>
          Future Courses
          <ul *ngFor = "let futureCourse of professor.futureCourses"><!--ng repeat line should be here I think -->
            <li>{{futureCourse}}</li>
          </ul>
          Research Areas
          <ul *ngFor = "let research of professor.research"><!--ng repeat line should be here I think -->
            <li>{{research}}</li>
          </ul>
          Rate My Professor: (rateMyProfessorScore)<br><br>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-slack"></a>
        </div>
      </div>
    </div>
    </ng-container>


  </div>

  <!--end of accordion menu-->
</div><!--end of wrapper-->
